body {
    font-family: var(--body-font);
    background: var(--body-color);
    color: var(--title-color);
    overflow-x: hidden;
}

.app {
    background: var(--body-color);
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    flex: 1 1 0;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--sidebar-color);
    max-width: 220px;
    width: 300px;
    height: 100vh;
    padding: 12rem 1.5rem;
    z-index: var(--z-100);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li .navitem {
    color: var(--title-color);
    display: inline-block;
    margin: 15px 0 0;
    text-decoration: none;
    transition: 0.3s all;
}

.sidebar ul li .navitem {
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
}

.sidebar ul li .navitem:hover {
    color: var(--title-color-alt);
}

.sidebar ul li .navitem span {
    margin-left: 10px;
    font-weight: var(--font-small);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    z-index: var(--z-100);
    background-color: var(--sidebar-color);
    cursor: pointer;
}

.hamburger input[type="checkbox"] {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 6px;
    display: block;
    z-index: var(--z-10);
    opacity: 0;
    cursor: pointer;
}

.hamburgerlines {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 14px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerlines .lines {
    display: block;
    height: 4px;
    width: 80%;
    background: var(--title-color);
}

.main {
    position: relative;
    left: 20rem;
}

.text-zone {
    margin-top: 13em;
    margin-bottom: 19em;
}

.text-zone h1 {
    font-size: var(--two5-font-size);
    line-height: 65px;
    font-weight: var(--font-semi-bold);
}

.oshawdow {
    color: var(--container-pink);
    font-weight: var(--font-semi-bold);
    text-shadow: 1px 1px 0 var(--container-pink), -1px -1px 0 var(--container-lime), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--container-lime);
}

.text-zone b a {
    letter-spacing: -0.1px;
    color: var(--body-color);
    text-decoration: none;
    font-weight: var(--font-semi-bold);
    text-shadow: 1px 1px 0 var(--title-color), -1px -1px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--title-color);
    transition: 0.5s;
}

.text-zone b a:hover {
    color: var(--container-pink);
}

.portfolio_link {
    color: var(--container-lime);
    text-decoration: none;
}

.portfolio_link:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    transition: 0.5s;
    margin-bottom: 7em;
}

.bcgsap {
    margin-top: 30em;
}

.container .content {
    position: relative;
    max-width: 750px;
}

.container .content h2 {
    display: flex;
    font-weight: var(--font-medium);
    font-size: var(--two5-font-size);
    color: var(--container-lime);
    margin-bottom: 30px;
    position: relative;
}

.fake-big-1 {
    font-size: 7rem;
    font-weight: var(--font-medium);
    position: absolute;
    color: #575757;
    opacity: 20%;
    z-index: -1;
    letter-spacing: -10px;
}

.container .content p {
    font-weight: var(--font-small);
    font-size: var(--h3-font-size);
    line-height: 1.7rem;
    letter-spacing: 0.1px;
}


ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
}

ul.skills-list li {
    position: relative;
    margin-bottom: 6px;
    padding-left: 20px;
    font-size: var(--fz-xs);
}

ul.skills-list li:before {
    content: '▹';
    position: absolute;
    left: 0;
    color: var(--container-lime);
    font-size: var(--h3-font-size);
    line-height: 20px;
}

/* contact me button */
.contact-button {
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: var(--container-lime);
    margin-top: 50px;
}

.contact-button div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.contact-button span.bg {
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--container-lime);
    transform: skewX(-19deg);
}

.contact-button:hover span.bg {
    width: 110%;
}

.contact-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid var(--container-lime);
    box-sizing: border-box;
}

.contact-button span.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* contact section starts here */
.contact-heading {
    margin-bottom: 30px;
}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-input-group {
    width: 100%;
    position: relative;
}

.form-input-group input,
textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 20px;
    margin-bottom: 5px;
    font-size: var(--normal-font-size);
    box-shadow: 0 0 0px 1000px #2b2b2b inset;
    color: #8a8484;
}

.form-input-group textarea {
    height: 25vh;
    padding: 10px 20px;
}

.submit-button {
    background: transparent;
    border: none;
    outline: none;
    float: right;
    display: block;
    font-size: var(--h3-font-size);
    cursor: pointer;
    color: #8a8484;
}

/* .form-input-group input+span::after,
.form-input-group textarea+span::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: var(--container-lime);
    bottom: 5px;
    left: 0;
    transition: ALL 0.3s linear;
} */

.form-input-group input:focus+span::after,
.form-input-group textarea:focus+span::after {
    width: 100%;
}

.error input,
.error textarea {
    border-bottom: 2px solid var(--color-testing);
    transition: all 0.2s linear;
}

.success input,
.success textarea {
    border-bottom: 2px solid var(--container-lime);
    transition: all 0.2s linear;
}

.message {
    position: absolute;
    bottom: 500px;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
}

.message-content {
    padding: 15px;
    background: var(--color-testing);
    color: var(--title-color);
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
}

.message-content.hide {
    opacity: 0;
}

.google-map {
    width: 100%;
    position: relative;
}

.skills-progress {
    margin-left: 5em;
}

.google-map iframe {
    width: 100%;
    margin-top: 50px;
    height: 60vh;
}

/* media section for bigger screens */
@media screen and (min-width: 980px) {
    .contact-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-column-gap: 2.5rem;
    }

    .contact-form {
        width: 400px;
        margin: 0 0 0 auto;
    }

    .form-input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.77rem;
    }

    .google-map iframe {
        width: 50vw;
        height: 80vh;
    }

    .message {
        bottom: 100px;
    }
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: var(--title-color-alt);
    text-decoration: none;
}

.footer a div:hover {
    color: var(--container-lime);
    text-decoration: underline;
}

.social-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.social-links ul li a {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.social-links ul li a:hover {
    color: var(--container-pink);
}

.social-links ul li a span {
    margin-left: 5px;
    font-weight: var(--font-small);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
}

.blast-root:after {
    content: '';
    display: block;
    position: relative;
    top: 30px;
    width: 200px;
    height: 1px;
    margin-left: 10px;
    background-color: #575757;
    opacity: 40%;
}

/* Text Bounce animation */
.blast {
    animation-duration: 1s;
    animation-iteration-count: once;
    animation-timing-function: ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.blast:hover {
    animation-name: bounceScale;
}

@keyframes bounceScale {
    0% {
        transform: scale(1.2, 0.5);
    }

    16% {
        transform: scale(1.2, 0.5);
    }

    25% {
        transform: scale(1.2, 0.5);
    }

    32% {
        transform: scale(0.8, 1.1);
    }

    48% {
        transform: scale(0.95, 1);
    }

    64% {
        transform: scale(0.8, 1.2);
    }

    80% {
        transform: scale(1.15, 1);
    }

    87% {
        transform: scale(1.15, 1);
    }

    90% {
        transform: scale(0.8, 1);
    }

    95% {
        transform: scale(1.05, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}