.cover {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container h3 {
    color: var(--title-color);
    font-size: var(--biggest-font-size);
}
.infoandcalltoaction {
    margin-top: -0.4em;
    line-height: 2em;
}

.infoandcalltoaction span {
    font-size: var(--h3-font-size);
    color: var(--container-pink);
}

.infoandcalltoaction p a {
    color: var(--title-color);
    text-decoration: none;
}

.infoandcalltoaction p a:hover {
    text-decoration: underline;
}