#sound {
    padding: 10px 15px;
    width: 10rem;
    background-color: var(--body-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: var(--z-10);
}
.sound-cloud {
    font-size: var(--h2-font-size);
    color: var(--container-pink);
    text-align: center;
}

.on-off {
    cursor: pointer;
    margin-left: 2px;
}

#off {
    color: var(--container-pink);
}

#on {
    display: none;
    color: var(--container-lime);
}